

  <div class="row">
    <div class="container">
          <%= render partial: "trades/new" %>
    </div>
  </div>

<div class="row">
  <div class="col-md-6" id="my-portfolio">
    <div class="notice-board">
      <div class="panel panel-success">
        <div class="panel-heading">Portfolio Value: $<%= portfolio_value(current_user) %>
          <div class="pull-right">
            <a href="#" id="sell" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Sell!</a>
          </div>
        </div>
          <div class="panel-body">
            <ul>
              <% portfolio(current_user).each do |item| %>
              <% if item != 0 %>
                <li><%= item.html_safe %></li>
              <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <%= render partial: "sales/new" %>

<div class="container">
  <div class="table-responsive panel panel-info">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <div class="panel-heading">
          Your Stocks
          <div class="pull-right">
             <a href="/stockmarket" id='buy-header' class="btn btn-info"><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;Add stocks to your portfolio</a>
          </div>
        </div>
        <tr>
          <th>Stock</th>
          <th>Symbol</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% stocks(current_user).each do |stock| %>
        <tr>
          <th><%= stock.name %></th>
          <th><%= stock.symbol %></th>
          <th>$<%= stock.price %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>
</div>
<div class="row">
  <div class="container">
<%= render partial: "holdings/index" %>
</div>
</div>