<div class="col-md-5" id="make_trade_sell">
  <div class="notice-board">
    <div class="panel panel-success" >
      <div class="panel-heading">Sell some stocks from your Portfolio
        <div class="pull-right">
          <a href="#" id="cancel-sale">Cancel</a>
        </div>
      </div>
        <div class="panel-body">
          <%= form_for :holdings, :url => {:action => :create, :controller => :holdings, :decision => :sell} do |f| %>
          <ul>
            <% current_user.holdings.group(:stock_id).sum(:quantity).map do |stock_id, quantity| %>
              <% stock = Stock.find(stock_id) %>
              <% if quantity == 0 %>
              <% elsif quantity == 1 %>
                <li><%= f.number_field stock.symbol, :max => quantity, :min => 0, :placeholder => '0' %><strong>&nbsp;<%= stock.name %></strong> <small> You own <%= quantity %> share</small></li>
              <% else %>
                <li><%= f.number_field stock.symbol, :max => quantity, :min => 0, :placeholder => '0' %><strong>&nbsp;<%= stock.name %></strong> <small> You own <%= quantity %> shares</small></li>
              <% end %>
              <% end %>
              <%= f.submit 'Sell stocks', class: 'btn btn-success sell-stocks-submit' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>