<!DOCTYPE html>
<html>
<head>
  <title>FakeStocks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content" class="pages">
      <section class="menu-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img src="https://www.sanbornmediafactory.com/wp-content/uploads/2013/08/ryan2.gif" class="headshot">
            </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                      <% if user_signed_in? %>
                      <div class="nav navbar-nav navbar-left">
                         Cash <span class="label label-success">$<%= current_user.cash %></span>&nbsp; &nbsp; Portfolio <span class="label label-warning">$<%= portfolio_value(current_user) %></span>&nbsp; &nbsp; Net worth <span class="label label-info">$<%= current_user.cash + portfolio_value(current_user) %>
                      </div>
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="/"><span class="glyphicon glyphicon-grain"></span> Portfolio</a></li>
                            <li><a href="/leaderboard"><span class="glyphicon glyphicon-oil"></span> Leaderboard</a></li>
                            <li><a href="/stockmarket"><span class="glyphicon glyphicon-globe"></span> Stock Market</a></li>
                            <li><a href="table.html"><span class="glyphicon glyphicon-object-align-vertical"></span> <%= current_user.username %></a>
                            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                        </ul>
                  <% end %>
                </div>
            </div>
        </div>
    </section>



      <p class="alert"><%= alert %></p>
    <%= yield %>

  </div>
</body>
</html>
